@import base
body
  background: #000
for i in (1..34)
  #slice{i}
    position: absolute
    top: 100px
    left: 100px
    opacity: .2
    transform-origin: 100px 100px -100px
    img
      position: absolute
      max-width: 200px
      max-height: 200px
